
.rounded-br-4xl{border-bottom-right-radius: 2.25rem;}
.rounded-br-5xl{border-bottom-right-radius: 3rem;}
.rounded-br-6xl{border-bottom-right-radius: 3.75rem;} 
.rounded-br-7xl{border-bottom-right-radius: 4.5rem;}
.rounded-br-8xl{border-bottom-right-radius: 6rem;}
.rounded-br-9xl{border-bottom-right-radius: 8rem;}

 .fa-plus{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .hr-icon{ 
    border: 2px solid gray;
    width: 50%;
    margin: 3px;
 }
 .ct-i1{
   width: 50%; 
   padding-top: 10px;
   padding-bottom: 33px;
   border-top-left-radius: 27% 100%;  
}

.ct0-i1{
   position: absolute;
   top: 0;
   right: 0.7rem;
   width: 50%; 
   padding-top: 10px;
   padding-bottom: 11px;
   border-top-left-radius: 27% 100%;  
   text-align: right;
   padding-right: 13px;
}
.ct-i2{
   padding-top: 10px;
   padding-bottom: 33px;
}
.ct-i3{ 
   padding-top: 10px;
   padding-bottom: 33px;
   /* 
   position: absolute;
   right: 0;
   top: 1px;
   text-align: right;
   width: 97%;
   */
} 
.ct-i1 > input{
   left: -100%;
}
.ct-i2 > input,
.ct-i3 > input{
   width: 98% !important;
   padding-left: 0.5rem !important;
   padding-right: 0 !important;
}

input[type="checkbox"]:not(:checked), [type="checkbox"]:checked, 
input[type="radio"]:not(:checked), [type="radio"]:checked{
   opacity: 1 !important;
   position: relative !important;
   pointer-events: auto !important;
}

.avatar{
   width: 10rem !important;
}
 